<div *ngIf="art">
  <!--<img src="{{art.imagePath}}">-->
  <!--<h1>{{art.name}}</h1>-->

  <div class="picture-container">
    <div class="picture-block">
      <img src="{{art.imagePath}}">
    </div>
    <div class=anot-block>
     
     
      <div class="information_panel">
          <div>
            <h5>{{art.owner.userName}}</h5>
            <h5>{{art.owner.email}}</h5>
          </div>
          
          <div>
            <h5>{{art.owner.userName}}</h5>
            <h5>{{art.owner.email}}</h5>
          </div>

      </div>


      
    </div>
    <!--<div class="info-block">-->
    <!--<art-component [art]="art"></art-component>-->
    <!--</div>-->
    <div class=anot-block>
      <p>{{art.description}}</p>
    </div>
    <div class=comment-block>
      <comment-comp [artId]="art.id"></comment-comp>
    </div>
    

  </div>
</div>


